
html, body{
font-family: 'Raleway', sans-serif;
  overflow-x:hidden;

}

h1, h2{
	text-align: center;
	font-size:7em;
	font-weight: 100;
}

h3{
  font-size: 18px;
    text-transform: uppercase;
}
.container-fluid{
  /*padding:0;*/
}

h2{
	font-size: 2em;
}


header{
	margin-top:15%;
}

footer{
	position: fixed;
	bottom:0;
	width:100%;
      background: rgba(255,255,255, .9);
}



ul.gregNav{

	width:495px;
	margin:0 auto;
}
ul.gregNav li{
    list-style: none;
    float: left;
    padding: 1.5em;
}

ul.gregNav li:last-child{
	padding-right:0;
}

ul.gregNav li:first-child{
	padding-left:0;
}

.view{
  position: absolute;
  top: 0;
  width: 100%;
  transition: 300ms;
}



.buckets{
 padding:2em;
 text-align: center;	
}

.buckets:hover{
  cursor:pointer;
}

.carouselwrapper{
  width:100%;
  height:200px;
}

.carouselwrapper li{
    width: 33%!important;
    padding: 1em!important;
}

.carouselwrapper li:first-child {
padding-left:0!important;
  }
.item img{
  width:100%;
} 


.rightcol{
  background:#333;
  height:100%;
  min-height:1500px;
  z-index: 9;
}


.directory{
  margin:1em;
  padding:0;
  color:#c4c4c4;
  font-weight: 100;
  list-style: none;
}

.directory li{
  margin-bottom:1.4em;
}

.directory li a{
  color:#fff;
  text-decoration: none;
}
.activeproject{
  font-weight:bold;
  color:#fff;
  font-size: 1.2em;
}




/* First animation*/
.first .view.ng-enter{
  left: -100%;
}

.first .view.ng-enter.ng-enter-active{
  left: 0%;
}

.first .view.ng-leave{
  left: 0%;
}

.first .view.ng-leave.ng-leave-active{
  left: 100%;
}

/* Second animation*/
/*.second{
    background: #C7E2FF;
    color: #333333;

}*/
.second .view.ng-enter{
  left: 100%;

}

.second .view.ng-enter.ng-enter-active{
  left: 0%;

}

.second .view.ng-leave{
  left: 0%;
}

.second .view.ng-leave.ng-leave-active{
  left: -100%;
}

/* Third animation*/


/*.third{
    background: #333;
    color: #fff;
}*/
.third .view.ng-enter{
  top: 100%;
}

.third .view.ng-enter.ng-enter-active{
  top: 0%;
}

.third .view.ng-leave{
  top: 0%;
}

.third .view.ng-leave.ng-leave-active{
  top: -100%;
}



/*fourth*/
.fourth .view.ng-enter{
  right: 100%;
}

.fourth .view.ng-enter.ng-enter-active{
  right: 0%;
}

.fourth .view.ng-leave{
  right: 0%;
}

.fourth .view.ng-leave.ng-leave-active{
  right: -100%;
}

img{
  width:75%;
}