
html, body{
font-family: 'Raleway', sans-serif;
  overflow-x:hidden;

}

h1, h2{
	text-align: center;
	font-size:7em;
	font-weight: 100;
}

.container-fluid{
  padding:2em;
}

h2{
	font-size: 2em;
}


header{
	margin-top:15%;
}

footer{
	position: fixed;
	bottom:0;
	width:100%;
      background: rgba(255,255,255, .9);
}

ul.gregNav{

	width:495px;
	margin:0 auto;
}
ul.gregNav li{
    list-style: none;
    float: left;
    padding: 1.5em;
}

ul.gregNav li:last-child{
	padding-right:0;
}

ul.gregNav li:first-child{
	padding-left:0;
}

.view{
  position: absolute;
  top: 0;
  width: 100%;
  transition: 300ms;
}



.buckets{
 padding:2em;
 text-align: center;	
}




/* First animation*/
.first .view.ng-enter{
  left: -100%;
}

.first .view.ng-enter.ng-enter-active{
  left: 0%;
}

.first .view.ng-leave{
  left: 0%;
}

.first .view.ng-leave.ng-leave-active{
  left: 100%;
}

/* Second animation*/
.second{
    background: #1A6EC5;
    color:#fff;

}
.second .view.ng-enter{
  left: 100%;

}

.second .view.ng-enter.ng-enter-active{
  left: 0%;

}

.second .view.ng-leave{
  left: 0%;
}

.second .view.ng-leave.ng-leave-active{
  left: -100%;
}

/* Third animation*/


.third{
    background: #409A92;
    color: #fff;
}
.third .view.ng-enter{
  top: 100%;
}

.third .view.ng-enter.ng-enter-active{
  top: 0%;
}

.third .view.ng-leave{
  top: 0%;
}

.third .view.ng-leave.ng-leave-active{
  top: -100%;
}

img{
  width:80%;
}