<div class="container-fluid secondblock">
	<div class="row">
		<div class="col-md-8">
   <h3>What Do I Do?</h3>
   <p>I build interactives, web sites and HTML5 apps using HTML/CSS3/JavaScript.</p>

   <p>I particularly love working on client-side apps using technologies such as AJAX, REST, and AngularJS along with services like Firebase, Parse, & AWS.<br/>Learning a bit of backend, server-side tech is also a aspiration of mine, and in spare time I like to tinker with Python and Django / Django Rest.</p>
</div>
</div>
</div>